<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		{% block head %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="author" content="KSU Group 1" />

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
		
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png"> 
		<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
		<link rel="manifest" href="../static/images/favicons/site.webmanifest">  
		<link rel="shortcut icon" href="#" />

		<!-- CDN -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Preview Meta -->
		<meta property="og:title" content="Soulify" />
		<meta property="og:image" content="../static/images/logo.png" />
		<title>{% block title %}{% endblock %} - Soulify</title>

		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-md nav-scheme navbar-dark">
			<a id="home-button" class="navbar-brand logo" href="/" aria-label="Soulify home">
				<img src="../static/images/logo.png" alt="soulify-logo" id="logo" width="75" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/tracks" aria-label="topTracks">
							<p>TOP TRACKS</p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/create" aria-label="create">
							<p>CREATE</p>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/information" aria-label="information">
							<span class="icon-fa">
								<i class="fas fa-question-circle"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<div id="content">
			{% block content %}{% endblock %}
		</div>
		
		<script type="text/javascript">
			if ("{{error}}") {
				alert("{{error}} Please try again.");
			}
		</script>
	</body>

	<footer class="bg-light" >
		<div class="py-5 bg-light">
			<div class="container py-5">
				{% block footer %}{% endblock %}

				<div class="row">
					<div class="col-12 col-md">
						<p class="text-muted">
							This website was created to provide Spotify 
							listeners more freedom with their music, and 
							was inspired by Spotify's Daily Mix playlists.
						</p>
					</div>
				</div>
				<br />
				<br />
				<div class="row">
					<div class="col-12 col-md">
						<a href="/" aria-label="Soulify home">
							<img src="../static/images/logo.png" alt="soulify-logo" id="logo" width="150" />
						</a>
						<small class="d-block mb-3 text-muted">2021</small>
					</div>
					<div class="col-6 col-md">
						<h5>Features</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="/tracks">Top Tracks</a></li>
							<li><a class="text-muted" href="/create">Create Playlist</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>About</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-muted" href="/information">Privacy and Resources</a></li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>We'd love to hear from you!</h5>
						<ul class="list-unstyled text-small">
							<li class="text-muted">
								<a href="https://www.google.com/maps/place/Atlanta,+GA+30303/@33.7528113,-84.4099395,14z/data=!3m1!4b1!4m5!3m4!1s0x88f502543704ef85:0x4d4d0436b05f0fb3!8m2!3d33.755711!4d-84.3883717"><i class="fa fa-map-marker"></i></a>
								Atlanta, Georgia
							</li>
							<li class="text-muted">
								<a id="email_link" href="mailto:dalexa75@students.kennesaw.edu"><i class="fa fa-envelope"></i></a>
								dalexa75@students.kennesaw.edu
							</li>
							<li class="text-muted">
								<a href="https://ccse.kennesaw.edu/"><i class="fas fa-user-tie"></i></a>
								KSU SWE 3313: Group 1
							</li>
							<li class="text-muted">
								<a href="https://github.com/wisenickel5/Soulify"><i class="fab fa-github"></i></a>
								Source Code
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</html>
