{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Privacy</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>To access the features within the Spotify SDK; the Application being used needs the active  user permission, in order to use the user privileges through the user scope.For example (create playlist-delete track- play playlist ) This app does not store/share any information from the user. Permission can be revoked by accessing this page.<a href="https://www.spotify.com/us/account/apps/" class="hyperlink-black">this page</a>.</p>
      	</div>
      </div>


      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Top <wbr>Tracks</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>Unlike most music applications, where your favorite songs of the month, 6 months, or even of the year can’t be displayed. Here on Soulify, we have a feature called Top Tracks. Where you can create a playlist of the songs you have listened to over the past month, six months, and even from year. Also in this feature, you have the option to update the playlist automatically; where you can always play your favorite new/old tunes. If however, you do not want the automatic updates anymore, simply delete the playlist in Spotify.</p>
      	</div>
      </div>

      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Create</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>Flying through this site, you’ll find many features that will help you the user, find your new/ favorite tune and start that awesome playlist. On the create feature, the search bar enables you to find an artist name or song title for you to add to your playlist. Also we have some tune-able attributes that you can select to describe your playlist. The attributes include popularity, that measures the most likes on the track, and acoustic , which measures the non electronic instruments in a song. Any attribute not selected will not have an effect on the masterpiece created playlist.</p>
      	</div>
      </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}