{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Consent</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				Soulify requires your permission to enable user scopes 
				(such as 'playlist-modify-public,' which enables the creation of 
				playlists and add music on your behalf) in order to utilize 
				functionalities within the Spotify API. We do not keep or 
				distribute any of your personal data. Permission can be 
				rescinded with the following 
				<a href="https://www.spotify.com/us/account/apps/" class="hyperlink-black">link</a>.
			</p>
      	</div>
      </div>


      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Top <wbr>Tracks</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				There is no way to see your most listened to tracks without 
				using Spotify Wrapped, which can only be seen at end of the 
				year. This feature is provided by TopTracks, which allows you 
				to generate a playlist of your favorite music from the previous 
				month, six months, or all time. You may also choose to have 
				these playlists updated automatically so that they always include 
				your favorite songs. You may disable automatic updates in Spotify 
				simply removing the playlist.
			</p>
      	</div>
      </div>

      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Create</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				Soulify offers a unique playlist creation tool that mixes music 
				based on tunable attributes. To begin, select up to 5 song titles 
				or artists that you wish to be featured in the playlist. Name your 
				playlist and then set the tunable attributes that you wish to 
				emphasize or eliminate from your playlist.  The resulting playlist 
				will be unaffected by non-selected qualities.
			</p>
      	</div>
      </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}