{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Consent</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>In order to access features within the Spotify SDK, this application needs your permission to enable user scopes (such as 'playlist-modify-public' which allows us to create playlists and add tracks on your behalf). We do not store or distribute any of your information. Permission can be revoked through <a href="https://www.spotify.com/us/account/apps/" class="hyperlink-black">this page</a>.</p>
      	</div>
      </div>


      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Top <wbr>Tracks</h1>
      	</div>
      	<div class="col-12 col-lg-8">
				There is no way to see your most listened to tracks without 
				year. This feature is provided by TopTracks, which allows you 
				using Spotify Wrapped, which can only be seen at end of the 
				month, six months, or all time.
				to generate a playlist of your favorite music from the previous 
			</p>
      		<p>
      	</div>
      </div>

      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Create</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>This site provides you with several features to find new music and create playlist in an easy fashion. First, enter up to 5 song names or artists that you want the playlist to reflect. Second, set the tuneable attributes that you want to highlight in your playlist. This includes attributes such as energy, which measures the intensity of music, and valence, which describes the mood of the track. Non-selected attributes will have no effect on the generated playlist.</p>
      	</div>
      </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}