{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
<div class="py-5">
    <div class="container">
      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Consent</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				Soulify requires your permission to enable user scopes 
				(such as 'playlist-modify-public,' which enables the creation of 
				playlists and add music on your behalf) in order to utilize 
				functionalities within the Spotify API. We do not keep or 
				distribute any of your personal data. Permission can be 
				rescinded with the following 
				<a href="https://www.spotify.com/us/account/apps/" class="hyperlink-black">link</a>.
			</p>
      	</div>
      </div>


      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Top <wbr>Tracks</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				There is no way to see your most listened to tracks without 
				using Spotify Wrapped, which can only be seen at end of the 
				year. This feature is provided by TopTracks, which allows you 
				to generate a playlist of your favorite music from the previous 
				month, six months, or all time.
			</p>
      	</div>
      </div>

      <div class="row page-info">
      	<div class="col-12 col-lg-4">
      		<h1>Create</h1>
      	</div>
      	<div class="col-12 col-lg-8">
      		<p>
				Soulify offers a unique playlist creation tool that mixes music 
				based on tunable attributes. To begin, select up to 5 song titles 
				or artists that you wish to be featured in the playlist. Name your 
				playlist and then set the tunable attributes that you wish to 
				emphasize or eliminate from your playlist.  The resulting playlist 
				will be unaffected by non-selected qualities.
			</p>
      	</div>
    </div>
</div>

<div class= "py-5">
	<div class = "container-sm">
		<div class="faq-info">
			<center><h1>FAQ</h1></center>
		</div>
	
		<div class="row faq-info">
			<div class="col-12 col-lg-4">
				<h2>Is it secure?</h2>
			</div>
			<div class="col-12 col-lg-8">
				<p>
					Soulify adheres to all modern standards in web security. 
					And as logging in to Soulify is handled by Spotify, it's 
					as secure as logging in to Spotify itself.
				</p>
			</div>
		</div>

		<div class="row faq-info">
			<div class="col-12 col-lg-4">
				<h2>How is my data used?</h2>
			</div>
			<div class="col-12 col-lg-8">
				<p>
					To use Soulify, you'll need to allow the app to have access 
					to some of your account information - that being your Spotify user 
					ID, the country your account is registered to, and a list of 
					your top artists & tracks. Your data is only used to calculate 
					an average with which users can compare their own scores.
				</p>
			</div>
		</div>
		
		<div class="row faq-info">
			<div class="col-12 col-lg-4">
				<h2>Where does the artist and track ranking come from?</h2>
			</div>
			<div class="col-12 col-lg-8">
				<p>
					The content and order of your lists come directly from Spotify's 
					API. Popularity, genres, and musical traits are all determined by Spotify.
				</p>
			</div>
		</div>

		<div class="row faq-info">
			<div class="col-12 col-lg-4">
				<h2>Why are there no (or few) results showing up in my lists?</h2>
			</div>
			<div class="col-12 col-lg-8">
				<p>
					If you listen in Private Mode, those songs won't show up in either 
					list. If your account is new, it's normal for your All-Time list to 
					be short, as it takes some time (one to two weeks) for Spotify 
					to update their information.
				</p>
			</div>
		</div>

		<div class="row faq-info">
			<div class="col-12 col-lg-4">
				<h2>I have some other issue (or concern, compliment, maybe a suggestion)</h2>
			</div>
			<div class="col-12 col-lg-8">
				<p>I'd like to know about it! <a class="hyperlink-black" href="mailto:dalexa75@students.kennesaw.edu">Send me an email!</a></p>
			</div>
		</div>
	</div>
</div> 

{% endblock %}

{% block footer %}

{% endblock %}