{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container-md">
        <div class="row page-info">
            <h1>SP-27: Soulify - Full Stack Spotify</h1>
            <h2>CS-4850 Section 03 | Fall 2023 | Professor Perry</h2>
        </div>
    </div>

    <div class="container">
        <div class="row ml-4">
            <div class="col">
                <img src="../static/images/jason.jpg" alt="Jason Sheres " class="img-fluid">
                <div class="row page-info pr-4">Jason Sheres</div>
            </div>
            <div class="col">
                <img src="../static/images/dylan.jpeg" alt="Dylan Alexander" class="img-fluid">
                <div class="row page-info pr-4">Dylan Alexander</div>
            </div>
            <div class="col">
                <img src="../static/images/jeffrey.jpg" alt="Jeffrey Cruz" class="img-fluid">
                <div class="row page-info pr-4">Jeffrey Cruz</div>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container-md">
        <div class="page-info">
            <h1>Final Project Report</h1>
        </div>

        <div class="row">
            <div class="col">
                <object data="../static/SP-27-FullStack-Soulify-DraftFinalReport.pdf" type="application/pdf" width="100%" height="800px">
                    <iframe src="../static/SP-27-FullStack-Soulify-DraftFinalReport.pdf" width="100%" height="800px">
                        This browser does not support PDFs.
                        Please download the PDF to view it: <a href="../static/SP-27-FullStack-Soulify-DraftFinalReport.pdf">Download PDF</a>.
                    </iframe>
                </object>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col">
                <iframe
                        width="100%" height="700"
                        src="https://www.youtube.com/embed/G2b7WaEBoJI"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
